<div id="console" title="Serial Monitor" style="position: relative;">
    <div id="log"></div>
    <div class="position-absolute fixed-bottom" style="margin: 5px; bottom: 0;">
        <div class="form-group" style="margin: 0;">
            <div class="input-group" style="margin: 0; padding: 0;">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <label for="msg"></label>
                <input type="text" id="msg" class="form-control" autofocus style="color: white;" aria-label="Console Input">
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>