<div id="upload-container" class="display-none" style="position: relative; margin-top: 15px;">

    <div class="row">
        <div class="col-sm-12">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header" style="background-color: #313131;">Arduino - Remote upload</div>
                <div class="card-body" id="upload-log" style="background-color: #3b3b3b; min-height: 100px;">

                </div>
                <div class="card-footer">
                    <form enctype="multipart/form-data">
                        <input type="file" name="sampleFile" >
                        <input type="button" value="Upload" id="uploadFile">
                        <input type="button" value="Program" id="programArduino">
                    </form>

                </div>
            </div>
        </div>
    </div>



</div>